@import '../../../styles'

.dashboard
  position relative

  .hero
    height 200vh

    *
      color text-color

    .items-container
      display flex
      justify-content center
      flex-wrap: nowrap
      text-align center

      .item
        display inline-flex


    .alert-message
      text-align center

