@import '../../../styles'

.gameOver
  position relative


  *
    color text-color

  .title
    text-align center
    h1
      font-size 3rem
    h3
      font-size 2rem
    *
      font-weight 300

  .action
    display flex
    justify-content center

    .button
      margin 1vw


